.item-container {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
  }
  
  .item-container:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  }
  
  .item-details {
    display: flex;
    flex-direction: column;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .date {
    color: #fff;
    font-size: small;
  }
  
  .remove-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: var(--highlight-color);
  }
  
  .normal {
    background-color: #4f6c32;
  }
  
  .soon {
    background-color: #684b2b;
  }
  
  .expired {
    background-color: #513132;
  }
  